[user]
	name = Irvin Capagcuan
	email = irvin@capagcuan.org
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[push]
	default = simple
[diff]
	tool = vscode
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = code "$LOCAL" "$REMOTE" --diff --wait
[alias]
	c = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	d = diff
	dc = diff --cached
	l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[tag]
	sort = version:refname
[pull]
	rebase = false
	ff = only
